
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css" integrity="sha512-3pIirOrwegjM6erE5gPSwkUzO+3cTjpnV9lexlNZqvupR64iZBnOOTiiLPb9M36zpMScbmUNIcHUqKD47M719g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="d-flex flex-wrap gap-2">
                            <h4 class="card-title mt-2 me-5"><b>Gestion de Usuarios</b> </h4>
                            <a id="btnShowCreateModal" style="height:40px" class="btn btn-outline-primary btn-md"><i class="fas fa-plus"></i> Agregar usuario</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <table class="table table-bordered dt-responsive nowrap w-100" id="usuariosTable">
                    <thead>
                        <tr>
                            <th>Nombres</th>
                            <th>Apellidos</th>
                            <th>DNI</th>
                            <th>FechaNac</th>
                            <th>Estado</th>                           
                            <th></th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade modal-static" id="createEventModal" tabindex="-1" role="dialog" aria-labelledby="createEventModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title titleModalRate"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div>
                    <div>
                        <div>
                            <div>
                                <input type="text" id="UsuarioId" hidden />
                            </div>
                            <div class="d-flex flex-row">
                                <label style="font-weight:bold; width:140px">Nombres:</label>
                                <input type="text" class="form-control required" id="Nombres" />
                            </div><br />   
                            <div class="d-flex flex-row">
                                <label style="font-weight: bold; width: 140px">Apellidos:</label>
                                <input type="text" class="required form-control" id="Apellidos" />
                            </div><br />
                            <div class="d-flex flex-row">
                                <label style="font-weight: bold; width: 140px">DNI:</label>
                                <input type="text" class="form-control" id="DNI" />
                            </div><br />
                            <div class="d-flex flex-row">
                                <label style="font-weight: bold; width: 140px">FechaNac:</label>
                                <input type="date" class="form-control" id="FechaNac" />
                            </div><br />
                            <div class="d-flex flex-row">
                                <label style="font-weight: bold; width: 140px">Estado:</label>
                                <select class="form-select form-select-sm required" id="cboEstado">
                                    <option value="1">Activo</option>
                                    <option value="0">Inactivo</option>
                                </select>
                            </div>
                        </div>
                    </div><br />

                </div>
                <p id="messageError" style="color:red" hidden></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-md" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary btn-md" id="btnCreateEvent">Registrar</button>
                <button type="button" class="btn btn-primary btn-md" id="btnUpdateEvent">Guardar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade modal-static" id="deleteEventModal" tabindex="-1" role="dialog" aria-labelledby="deleteEventModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Eliminar Usuario</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input type="text" id="DeleteId" hidden />
                <div class="mt-2">
                    <label>¿ Estas seguro de eliminar el usuario seleccionada ? </label><br />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-md" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary btn-md" id="btndeleteEvent">Confirmar</button>
            </div>
        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="~/js/usuario.js"></script>

